{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte correspond au votre, un email de réinitialisation de mot de passe vous a été envoyé.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas cet email, vérifiez vos spams ou  <a href="{{ path('app_forgot_password_request') }}">Essayez encore</a>.</p>
{% endblock %}
